.App {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 15px;
  padding: 15px;

  width: 66%;
  margin: 100px auto;
  border-radius: 8px;
  align-items: start;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  background-color: rgb(255, 243, 225);
  color: black;
  font-size: 22px;
  border-radius: 8px;
}

.split {
  padding: 14px 30px;
}

/* SPLIT COMPONENT STYLING */

.split-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.split-input input,
.split-input select,
.split-input button {
  width: 130px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.split-title {
  display: block;
  margin: 17px auto 35px 10px;
  font-size: 33px;
}

button {
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  border: unset !important;
}

/* FRIENDS COMPONENT STYLING */
.friends {
  display: flex;
  flex-direction: column;
  background-color: white;

  margin: 0;
  padding: 0;
}

.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  min-height: 70px;
}

.friend:hover {
  background-color: rgb(255, 243, 225);
}

.friend-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

#friend-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  padding: 0;
}

#friend-avatar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#friend-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

#friend-name .friend-name {
  font-weight: bold;
  font-size: 19px;
}

#friend-name .status {
  font-size: 14px;
  color: red;
}

#friend-button {
  margin: 0 12px;
  width: 70px;
  padding: 10px;
}

/* ADD FRIEND COMPONENET STYLING */

.addFriend {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
}
.add-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.add-input input,
.add-input button {
  outline: none;
  width: 160px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.close {
  display: flex;
  justify-content: flex-end;

}

.close button {
 padding: 10px;
}