.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 15px;

  width: 66%;
  background-color: white;
  margin: 200px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  background-color: rgb(255, 243, 225);
  padding: 15px;
  color: black;
  font-size: 22px;
}

.split {
  border-radius: 0 8px 8px 0;
}

.friends {
  border-radius: 8px 0 0 0;
}

.addFriend {
  border-radius: 0 0 0 8px;
}

/* SPLIT COMPONENT STYLING */

.split-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.split-input input,
.split-input select,
.split-input button {
  width: 130px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.split-title {
  display: block;
  margin: 5px auto 35px 10px;
  font-size: 33px;
}

button {
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: unset;
}

/* FRIENDS COMPONENT STYLING */
.friends {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.friend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px 0 0 8px;
  padding: 10px;
}

